<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>justify text</title>
    <style>
      .justify-text li {
        margin-top: 5px;
        padding: 0 20px;
        width: 100px;
        height: 40px;
        background-color: #f66;
        line-height: 40px;
        text-align-last: justify;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <ul class="justify-text">
      <li>账号</li>
      <li>密码</li>
      <li>电子邮件</li>
      <li>通讯地址</li>
    </ul>
  </body>
</html>
