<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>justify两端对齐</title>
	<style>
	div{
		margin: 0 auto;
		width: 400px;
		text-align:justify;
	}
	span{
		display: inline-block;
		width: 95px;
	}
	</style>
</head>
<body>
<div>
	<h2>justify两端对齐</h2>
	<span>aaa</span><span>bbb</span><span>ccc</span><span>ddd</span><span>eee</span><span>fff</span></div>
</body>
</html>