<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>侧边栏/分栏高度自动相等</title>
<style type="text/css">
#test{overflow:hidden; zoom:1;}
.left{width:200px; margin-bottom:-3000px; padding-bottom:3000px; background:#cad5eb; float:left;}
.right{width:400px; margin-bottom:-3000px; padding-bottom:3000px; background:#f0f3f9; float:right;}
.center{height:300px; margin:0 410px 0 210px; background:#ffe6b8;}
</style>
</head>

<body>
<div id="main">
	<h1>侧边栏/分栏高度自动相等实例页面</h1>
    <div id="body" class="light">
    	<div id="content" class="show">
        	<h3>展示</h3>
            <div class="demo">
            	<div id="test">
                    <div class="left">左边，无高度属性，自适应于最高一栏的高度</div>
                    <div class="right">右边，无高度属性，自适应于最高一栏的高度</div>
                    <div class="center">中间，高度300像素，左右两栏的高度与之自适应</div>
                </div>
                <div class="article"><a href="http://www.zhangxinxu.com/wordpress/?p=694">回到相关文章 &gt;&gt;</a></div>
            </div>
            <h3>代码</h3>    
            <h5>CSS代码：</h5>
            <pre name="code" class="css">
#test{overflow:hidden; zoom:1;}
.left{width:200px; margin-bottom:-3000px; padding-bottom:3000px; background:#cad5eb; float:left;}
.right{width:400px; margin-bottom:-3000px; padding-bottom:3000px; background:#f0f3f9; float:right;}
.center{height:300px; margin:0 410px 0 210px; background:#ffe6b8;}
            </pre>
            <h5>HTML代码：</h5>
            <pre name="code" class="html">
&lt;div id="test">
    &lt;div class="left">左边，无高度属性，自适应于最高一栏的高度&lt;/div>
    &lt;div class="right">右边，无高度属性，自适应于最高一栏的高度&lt;/div>
    &lt;div class="center">中间，高度300像素，左右两栏的高度与之自适应&lt;/div>
&lt;/div>
            </pre>
        </div>       
    </div>
</div>
</body>
</html>
